@model ObjectDetailsViewModel


<div class="card">
        <input asp-for="Review.Rating" type="hidden" id="ocjena" />
        <div class="card-header">
            <div class="row">
                <i class="far fa-star fa-lg pointer" style="color:black;" id="rating1" onclick="setRating(this)" onmouseover="changeColor(this)" onmouseout="resetColor()"></i>
                <i class="far fa-star fa-lg pointer" style="color:black;" id="rating2" onclick="setRating(this)" onmouseover="changeColor(this)" onmouseout="resetColor()"></i>
                <i class="far fa-star fa-lg pointer" style="color:black;" id="rating3" onclick="setRating(this)" onmouseover="changeColor(this)" onmouseout="resetColor()"></i>
                <i class="far fa-star fa-lg pointer" style="color:black;" id="rating4" onclick="setRating(this)" onmouseover="changeColor(this)" onmouseout="resetColor()"></i>
                <i class="far fa-star fa-lg pointer" style="color:black;" id="rating5" onclick="setRating(this)" onmouseover="changeColor(this)" onmouseout="resetColor()"></i>
            </div>
        </div>
        <div class="card-body">
            <textarea asp-for="Review.Text" id="review-textarea" placeholder="Vaš utisak..." class="form-control" style="font-size:15px; margin-bottom:7px"></textarea>
            @*<br />*@
            <a class="pointer text-white btn btn-primary float-right" onclick="AddReview()">Dodaj utisak</a>
            <br />
        </div>
</div>
<div id="rat-rew-container">

</div>
<br />

@if (Model.Reviews != null)
{
    @foreach (var item in Model.Reviews)
    {
        <div class="card">
            <div class="card-body">
                <h6 class="col-sm-12 text-info">
                    @item.User.Name @item.User.LastName
                    <span class="float-right">
                        <span class="text-warning"><i class="fas fa-star"></i>&nbsp;@item.Rating</span>
                    </span>
                </h6>
                @*@item.User.Name+" "@item.User.LastName
                    @item.Rating*@
                @item.Text
            </div>
        </div>
    }
}


<br />
<!-- Pager -->
<div class="col-sm-12" id="pager">
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination m-auto">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a href="#" onclick="goToFirst()" class="page-link">&laquo;</a>
                </li>
                <li class="page-item">
                    <a href="#" onclick="goToPrevious()" class="page-link">&lang;</a>
                </li>
            }

            @for (var pagee = Model.Pager.StartPage; pagee <= Model.Pager.EndPage; pagee++)
            {
                @*<li class="@(pagee == Model.Pager.CurrentPage ? "active-page" : "") hidden-sm hidden-xs page-link">*@
                <li class="@(pagee == Model.Pager.CurrentPage ? "active-page" : "") hidden-sm hidden-xs page-link" style="@(pagee == Model.Pager.CurrentPage ? "font-weight:bolder" : "")">
                    <a href="#" onclick="goToPage(@pagee)">@pagee</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a href="#" onclick="goToNext()" class="page-link">&rang;</a>
                </li>
                <li class="page-item">
                    <a href="#" onclick="goToLast()" class="page-link">&raquo;</a>
                </li>
            }
        </ul>
    }
</div>









<script>
    function setRating(item) {
        var id = $(item).attr("id");
        if (id == 'rating1') {
            $('#ocjena').val(1);
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("fas").addClass("far");;
            $('#rating2').css('color', 'black');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating2') {
            $('#ocjena').val(2);
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating3') {
            $('#ocjena').val(3);
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating4') {
            $('#ocjena').val(4);
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating5') {
            $('#ocjena').val(5);
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("far").addClass("fas");;
            $('#rating5').css('color', '#FFDF00');
        }
    }

    function changeColor(item) {
        var id = $(item).attr("id");
        if (id == 'rating1') {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("fas").addClass("far");;
            $('#rating2').css('color', 'black');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating2') {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating3') {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating4') {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if (id == 'rating5') {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("far").addClass("fas");;
            $('#rating5').css('color', '#FFDF00');
        }
    }

    function resetColor() {
        if ($('#ocjena').val() == 1) {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("fas").addClass("far");;
            $('#rating2').css('color', 'black');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if ($('#ocjena').val() == 2) {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if ($('#ocjena').val() == 3) {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if ($('#ocjena').val() == 4) {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
        else if ($('#ocjena').val() == 5) {
            $('#rating1').removeClass("far").addClass("fas");;
            $('#rating1').css('color', '#FFDF00');
            $('#rating2').removeClass("far").addClass("fas");;
            $('#rating2').css('color', '#FFDF00');
            $('#rating3').removeClass("far").addClass("fas");;
            $('#rating3').css('color', '#FFDF00');
            $('#rating4').removeClass("far").addClass("fas");;
            $('#rating4').css('color', '#FFDF00');
            $('#rating5').removeClass("far").addClass("fas");;
            $('#rating5').css('color', '#FFDF00');
        }
        else {
            $('#rating1').removeClass("fas").addClass("far");;
            $('#rating1').css('color', 'black');
            $('#rating2').removeClass("fas").addClass("far");;
            $('#rating2').css('color', 'black');
            $('#rating3').removeClass("fas").addClass("far");;
            $('#rating3').css('color', 'black');
            $('#rating4').removeClass("fas").addClass("far");;
            $('#rating4').css('color', 'black');
            $('#rating5').removeClass("fas").addClass("far");;
            $('#rating5').css('color', 'black');
        }
    }

</script>
