@model CreateObjectViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
@*<link href="~/css/regst.css" rel="stylesheet" />*@
<link href="~/css/tabs.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/paying-model-style.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
@*<link href="~/css/customdatetimepicker.css" rel="stylesheet" />*@
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "CreateObject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var mycurrency = "BAM";}
@if (HttpContextAccessor.HttpContext.Request.Cookies["Currency"] != null)
{
    mycurrency = HttpContextAccessor.HttpContext.Request.Cookies["Currency"];
}


<!-- Tabs -->
<form method="post" asp-action="CreateObject" asp-controller="Object" onsubmit="fillValues()">
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Osnovno</a>
                            <a class="nav-item nav-link" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-offer" aria-selected="false">Ponuda</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="false">Plaćanje</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Fotografije</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-periods" role="tab" aria-controls="nav-periods" aria-selected="false">Nedostupni periodi</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        @*Basic*@
                        <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">

                            <br />
                            <div class="row bg-white rounded-lg shadow-sm p-5">
                                @*mapa*@
                                <div class="col-md-4 order-md-2 mb-4">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Mapa</span>
                                        @*<span class="badge badge-secondary badge-pill">3</span>*@
                                    </h4>
                                    <div id="map" class="mb-3" style="height:300px"></div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label asp-for="Lat"></label>
                                            <input class="form-control" asp-for="Lat" id="latitude-value" pattern="[0-9]+([\.][0-9]{1,2})?" required>
                                            <span asp-validation-for="Lat" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label asp-for="Lng"></label>
                                            <div class="input-group">
                                                <input asp-for="Lng" class="form-control" id="longitude-value" pattern="[0-9]+([\.][0-9]{1,2})?" required>
                                                <span asp-validation-for="Lng" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 order-md-1">
                                    @*<form class="needs-validation" novalidate="">*@
                                    <div class="row">
                                        <div class="col-md-8 mb-3">
                                            <label asp-for="Name"></label>
                                            <input type="text" class="form-control" placeholder="" asp-for="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label asp-for="Surface"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                            <div class="input-group">
                                                <input type="number" asp-for="Surface" class="form-control" placeholder="">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">m²</span>
                                                </div>
                                                <span asp-validation-for="Surface" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Address"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            </div>
                                            <input type="text" asp-for="Address" class="form-control" placeholder="Vuka Karadžića 30">
                                            <span asp-validation-for="Address" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="EmailContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="email" asp-for="EmailContact" class="form-control" placeholder="markomarkovic@primjer.com">
                                            <span asp-validation-for="EmailContact" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="PhoneNumberContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" asp-for="PhoneNumberContact" class="form-control" placeholder="+38765111111">
                                            <span asp-validation-for="PhoneNumberContact" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="WebContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                            </div>
                                            <input type="email" asp-for="WebContact" class="form-control" placeholder="www.markomarkovic.com">
                                            <span asp-validation-for="WebContact" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label asp-for="SelectedCountry">Država</label>
                                            <select class="custom-select d-block w-100" asp-for="SelectedCountry" asp-items="@Model.Countries" id="country-select">
                                                <option disabled selected>Izaberite...</option>
                                            </select>
                                            <span asp-validation-for="Countries" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label asp-for="SelectedCity">Grad</label>
                                            <select class="custom-select d-block w-100" id="city-select" asp-for="SelectedCity" asp-items="@Model.Cities">
                                                <option disabled selected>Izaberite...</option>
                                            </select>
                                            <span asp-validation-for="Cities" class="text-danger"></span>
                                        </div>
                                        @*<div class="col-md-3 mb-3">
                                                <label for="zip">Zip</label>
                                                <input type="text" class="form-control" id="zip" placeholder="" required="">
                                                <div class="invalid-feedback">
                                                    Zip code required.
                                                </div>
                                            </div>*@
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Description"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                        <div class="input-group">
                                            <textarea asp-for="WebContact" class="form-control" placeholder="Vaš opis..."></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>


                                    @*<hr class="mb-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="same-address">
                                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="save-info">
                                            <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                        </div>
                                        <hr class="mb-4">

                                        <h4 class="mb-3">Payment</h4>

                                        <div class="d-block my-3">
                                            <div class="custom-control custom-radio">
                                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                                                <label class="custom-control-label" for="credit">Credit card</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                                <label class="custom-control-label" for="debit">Debit card</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                                <label class="custom-control-label" for="paypal">PayPal</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="cc-name">Name on card</label>
                                                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                                <small class="text-muted">Full name as displayed on card</small>
                                                <div class="invalid-feedback">
                                                    Name on card is required
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="cc-number">Credit card number</label>
                                                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                                <div class="invalid-feedback">
                                                    Credit card number is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 mb-3">
                                                <label for="cc-expiration">Expiration</label>
                                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                                <div class="invalid-feedback">
                                                    Expiration date required
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="cc-cvv">CVV</label>
                                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                                <div class="invalid-feedback">
                                                    Security code required
                                                </div>
                                            </div>
                                        </div>*@
                                    <hr class="mb-4">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                                    @*</form>*@
                                </div>
                            </div>

                        </div>



                        <!--Ponude-->
                        <div class="tab-pane fade" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">
                            @*<form method="post" asp-action="CreateObject" asp-controller="Object" onsubmit="fillValues()">*@
                            <div class="container">
                                <br />
                                <h5 class="mb-3 text-muted">Karakteristike objekta</h5><br />
                                <input asp-for="AddedCountableOffers" id="countable-offers" type="hidden" />
                                <input @*asp-for="SelectListCountableOffers" *@ id="selectlist-cntoffers" type="hidden" />
                                <ul class="list-group mb-3 m-auto" id="countable-attr-container"></ul>
                                <br />
                                <div class="col-md-12 mb-3">
                                    <select onchange="GetCntAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" @*asp-for="" *@ asp-items="@Model.CountableOffers" id="cnt-attr-select">
                                        <option disabled selected>Izaberite...</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="container">
                                <h5 class="mb-3 text-muted">Usluge uključene u cijenu</h5><br />
                                <input asp-for="AddedOffers" id="added-offers" type="hidden" />
                                <ul class="list-group mb-3 m-auto" id="attributes-container"></ul>
                                <br />
                                <div class="col-md-12 mb-3">
                                    <select onchange="GetAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" @*asp-for="" *@ asp-items="@Model.Offers" id="attribute-select">
                                        <option disabled selected>Izaberite...</option>
                                    </select>
                                </div>
                            </div>

                            <br /><hr />
                            <div class="container">
                                <h5 class="mb-3 text-muted">Dodatno naplative ponude</h5><br />
                                <input asp-for="AddedSpecialOffers" id="special-offersvwithval" type="hidden" />
                                <input id="selectlist-specialoffers" type="hidden" />
                                <ul class="list-group mb-3 m-auto" id="specialoffers-container"></ul>
                                <br />
                                <div class="col-md-12 mb-3">
                                    <select onchange="GetSpecialOffersAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" asp-items="@Model.SpecialOffers" id="specialoffer-select">
                                        <option disabled selected>Izaberite...</option>
                                    </select>
                                </div>
                            </div>
                            @*<a href="#" onclick="fillValues()">hej</a>*@
                            @*</form>*@
                        </div>


                        <!--Plaćanje-->
                        <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col-lg-7 mx-auto">
                                        <div class="bg-white rounded-lg shadow-sm p-5">
                                            <!-- Naplata tabs -->
                                            <input type="hidden" asp-for="StandardPricingM" value="true" id="spmodel" />
                                            <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                                                <li class="nav-item">
                                                    <a data-toggle="pill" onclick="changeToStandardModel()" href="#nav-tab-standardpm" class="nav-link active rounded-pill">
                                                        @*<i class="fa fa-credit-card"></i>*@
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;Standardni model&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a data-toggle="pill" onclick="changeToOccupancyBModel()" href="#nav-tab-occupancyb" class="nav-link rounded-pill">
                                                        Model baziran na broju posjetilaca
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- End -->
                                            <!-- form content -->
                                            <div class="tab-content">
                                                <!--Standard model-->
                                                <div id="nav-tab-standardpm" class="tab-pane fade show active">
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="StandardPricingModel.StandardOccupancy"></label>
                                                            <input type="number" asp-for="StandardPricingModel.StandardOccupancy" min="0" required class="form-control">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="StandardPricingModel.StandardPricePerNight"></label>
                                                            <div class="input-group">
                                                                <input pattern="[0-9]+([\.][0-9]{1,2})?" asp-for="StandardPricingModel.StandardPricePerNight" class="form-control" required>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text text-muted">
                                                                        @mycurrency
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-4">
                                                            <label asp-for="StandardPricingModel.MinOccupancy">@*<span class="hidden-xs">Expiration</span>*@</label>
                                                            <div class="input-group">
                                                                <input type="number" asp-for="StandardPricingModel.MinOccupancy" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label asp-for="StandardPricingModel.MaxOccupancy">@*<span class="hidden-xs">Expiration</span>*@</label>
                                                            <div class="input-group">
                                                                <input type="number" asp-for="StandardPricingModel.MaxOccupancy" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label asp-for="StandardPricingModel.OffsetPercentage"></label>
                                                            <input type="text" pattern="[0-9]+([\.][0-9]{1,2})?" required class="form-control" asp-for="StandardPricingModel.OffsetPercentage">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="StandardPricingModel.MinDaysOffer"></label>
                                                            <input type="number" asp-for="StandardPricingModel.MinDaysOffer" min="1" class="form-control">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="StandardPricingModel.MaxDaysOffer"></label>
                                                            <input asp-for="StandardPricingModel.MaxDaysOffer" class="form-control" type="number" min="1">
                                                        </div>
                                                    </div>
                                                    @*<button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm  </button>*@
                                                </div>
                                                <!-- End -->
                                                <!-- occupancy based model -->
                                                <div id="nav-tab-occupancyb" class="tab-pane fade">
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="OccupancyBasedPricing.MinDaysOffer"></label>
                                                            <input type="number" asp-for="OccupancyBasedPricing.MinDaysOffer" min="1" class="form-control">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label asp-for="OccupancyBasedPricing.MaxDaysOffer"></label>
                                                            <input asp-for="OccupancyBasedPricing.MaxDaysOffer" class="form-control" type="number" min="1">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label asp-for="OccupancyBasedPricing.MinOccupancy"></label>
                                                            <div class="input-group">
                                                                <input id="min-occ-ob" type="number" asp-for="OccupancyBasedPricing.MinOccupancy" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label asp-for="OccupancyBasedPricing.MaxOccupancy"></label>
                                                            <div class="input-group">
                                                                <input id="max-occ-ob" type="number" asp-for="OccupancyBasedPricing.MinOccupancy" class="form-control" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" onclick="formPrices()"> Formiraj cijene  </button>
                                                    <hr />
                                                    <input type="hidden" asp-for="OccubancBasedPrices" id="occupancybased-prices" />
                                                    <div id="prices">
                                                    </div>
                                                </div>
                                                <!-- End -->
                                                <a href="#" onclick="fillValues()">Filllllll</a>
                                            </div>
                                            <!-- End -->

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <!--Fotografije-->
                        <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                        </div>

                        <!--Nedostupni periodi-->
                        <div class="tab-pane fade" id="nav-periods" role="tabpanel" aria-labelledby="nav-periods-tab">
                            <div class="container py-5">
                                <div class="bg-white rounded-lg shadow-sm p-5">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <input id="datepicker1" class="datepicker" width="276" />
                                        </div>
                                        <div class="col-md-4">
                                            <input id="datepicker2" class="datepicker" width="276" />
                                        </div>
                                    </div>
                                    <script>
                                        var $DPicker1 = $('#datepicker1');
                                        var $DPicker2 = $('#datepicker2');
                                        $DPicker1.datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'yyyy-dd-mm',
                                            change: function (e) {
                                                RecreateDatePicker2();
                                            },
                                            minDate: new Date()
                                            
                                        });

                                        $DPicker2.datepicker({
                                            uiLibrary: 'bootstrap4',
                                            format: 'yyyy-dd-mm',
                                            minDate: new Date(),
                                            change: function (e) {
                                                RecreateDatePicker1();
                                            }
                                        });

                                        function RecreateDatePicker1() {
                                            var checkout = $('#datepicker2').val();
                                            var currentcheckin = $('#datepicker1').val();
                                            $DPicker1.destroy();
                                            $DPicker1.datepicker({
                                                uiLibrary: 'bootstrap4',
                                                format: 'yyyy-dd-mm',
                                                value: currentcheckin,
                                                minDate: new Date(),
                                                maxDate: checkout,
                                                change: function (e) {
                                                    RecreateDatePicker2();
                                                }
                                            });
                                        }

                                        function RecreateDatePicker2() {
                                            var checkin = $('#datepicker1').val();
                                            var mindate = new Date();
                                            if(checkin)
                                                mindate = checkin;

                                            var currentcheckout = $('#datepicker2').val();
                                            $DPicker2.destroy();
                                            $DPicker2.datepicker({
                                                uiLibrary: 'bootstrap4',
                                                format: 'yyyy-dd-mm',
                                                value: currentcheckout,
                                                minDate: mindate,
                                                change: function (e) {
                                                    RecreateDatePicker1();
                                                }
                                            });
                                        }

                                       
                                    </script>

                                </div>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
    <input type="submit" />

</form>



<script src="~/js/Navbarcolor.js"></script>

<script>
    function changeToStandardModel() {
        $('#spmodel').val(true);
    }
    function changeToOccupancyBModel() {
        $('#spmodel').val(false);
        $('#prices').empty();
    }

    function formPrices() {
        $('#prices').empty();
        occupancabasedprices = [];

        var minocc = $('#min-occ-ob').val();
        var maxocc = $('#max-occ-ob').val();

        if ((!maxocc) || (!minocc) || ((+maxocc) < 1) || ((+minocc) < 1) || ((+minocc) > (+maxocc))) {
            alert("Unesite ispravne podatke za broj posjetilaca");
        }
        else {
            $('#prices').append(
                '<label><span class="hidden-xs">Broj posjetilaca</span></label>'
            );
            for (var i = 0; i < (maxocc - minocc + 1); i++) {
                var visitors = (+minocc) + i;
                var myhtml = '<div class="form-group">'
                    + '<div class="input-group row">'
                    + '<input class="form-control" value="' + visitors + '" disabled>'
                    + '<input type="number" placeholder="Unesite cijenu" name="" class="form-control" required="">'
                    + '<div class="input-group-append"><span class="input-group-text text-muted">' + currency + '</span></div></div></div>';
                $('#prices').append(myhtml);
            }
        }
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
</script>

@*ovo je za one roza tabove*@
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    var currency = getCookie('Currency');
    if (!currency)
        currency = "BAM";
    var payedOffers = [];
    var payedOffersWithValues = [];

    function GetSpecialOffersAttributes() {


        var sel = document.getElementById("specialoffer-select");
        var text = sel.options[sel.selectedIndex].text;
        var myhtml = '<li class="list-group-item d-flex justify-content-between lh-condensed" id-value="'
            + sel.value + '" value="">'
            + '<span class="my-0 col-md-12"><div class="row">'
            + '<h5 class="col-md-4">' + text + '</h6>'
            + '<input class="col-md-4 form-control form-control-sm" placeholder="Unesite cijenu" required pattern="[0-9]+([\.][0-9]{1,2})?" />'
            + '<div class="form-control-sm input-group-append col-md-1"><span class="input-group-text text-muted">' + currency + '</span></div>'
            + '<div class="col-md-3"><a href="#"  class="btn btn-error" onclick="removeSpecialOffer(this);"  style="float:right;padding:0;line-height:0;">'
            + '<i class="fa fa-times"></i></a></div></div></h5></li>';
        $("#specialoffers-container").append(
            myhtml
        );

        payedOffers.push(sel.value);
        $("#selectlist-specialoffers").val(payedOffers);
        RefreshSpecialOffersSelectList();
    }

    function removeSpecialOffer(ev) {
        var myelement = $(ev).parent().parent().parent().parent();
        var removedidvalue = $(myelement).attr('id-value');
        const index = payedOffers.indexOf(removedidvalue);
        if (index > -1) {
            payedOffers.splice(index, 1);
        }
        $("#selectlist-cntoffers").val(payedOffers);
        $(myelement).remove();
        RefreshSpecialOffersSelectList();
    }

    function RefreshSpecialOffersSelectList() {
        $.ajax({
            type: 'GET',
            url: "/Object/GetObjectAttributes",
            contentType: "application/json",
            data: { excludedAttributesId: document.getElementById('selectlist-specialoffers').value },
            dataType: 'json',
            success: function (data) {
                var offersSelectList = $('#specialoffer-select');
                offersSelectList.empty();
                offersSelectList.append(
                    '<option disabled selected>Izaberite...</option>'
                );

                //console.log(data);//Da vidiš u konzoli
                $.each(data, function (index, model) {
                    offersSelectList.append(
                        $('<option>', {
                            value: model.value
                        }).text(model.text)
                    );
                });
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }

</script>

<script>
    var occupancabasedprices = [];
    var countableOffers = [];
    var cntOffersAndValues = [];

    function GetCntAttributes() {
        var sel = document.getElementById("cnt-attr-select");
        var text = sel.options[sel.selectedIndex].text;
        var myhtml = '<li class="list-group-item d-flex justify-content-between lh-condensed" id-value="'
            + sel.value + '" value="">'
            + '<span class="my-0 col-md-12"><div class="row">'
            + '<h5 class="col-md-4">' + text + '</h6>'
            + '<input class="col-md-4 form-control form-control-sm" placeholder="Unesite vrijednost" required type="number" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"/>'
            + '<div class="col-md-4"><a href="#"  class="btn btn-error" onclick="removeCntOffer(this);"  style="float:right;padding:0;line-height:0;">'
            + '<i class="fa fa-times"></i></a></div></div></h5></li>';
        $("#countable-attr-container").append(
            myhtml
        );

        countableOffers.push(sel.value);
        $("#selectlist-cntoffers").val(countableOffers);
        RefreshCntOffersSelectList();
    }

    function removeCntOffer(ev) {
        var myelement = $(ev).parent().parent().parent().parent();
        console.log(removedidvalue);
        var removedidvalue = $(myelement).attr('id-value');
        const index = countableOffers.indexOf(removedidvalue);
        if (index > -1) {
            countableOffers.splice(index, 1);
        }
        $("#selectlist-cntoffers").val(offers);
        $(myelement).remove();
        RefreshCntOffersSelectList();
    }


    function RefreshCntOffersSelectList() {
        $.ajax({
            type: 'GET',
            url: "/Object/GetObjectCntAttributes",
            contentType: "application/json",
            data: { excludedAttributesId: document.getElementById('selectlist-cntoffers').value },
            dataType: 'json',
            success: function (data) {
                var offersSelectList = $('#cnt-attr-select');
                offersSelectList.empty();
                offersSelectList.append(
                    '<option disabled selected>Izaberite...</option>'
                );

                //console.log(data);//Da vidiš u konzoli
                $.each(data, function (index, model) {
                    offersSelectList.append(
                        $('<option>', {
                            value: model.value
                        }).text(model.text)
                    );
                });
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }


    function fillValues() {
        var mylist = document.getElementById('countable-attr-container').getElementsByTagName("li");
        for (var i = 0; i < mylist.length; i++) {
            var idvalue = $(mylist[i]).attr('id-value');
            var myvalue = $(mylist[i]).find('input')[0].value;
            cntOffersAndValues.push(idvalue + ":" + myvalue);
            $('#countable-offers').val(cntOffersAndValues);
        }


        var specialofferslist = document.getElementById('specialoffers-container').getElementsByTagName("li");
        for (var i = 0; i < specialofferslist.length; i++) {
            var idvalue = $(specialofferslist[i]).attr('id-value');
            var myvalue = $(specialofferslist[i]).find('input')[0].value;
            payedOffersWithValues.push(idvalue + ":" + myvalue);
            $('#special-offersvwithval').val(payedOffersWithValues);
        }

        //Check if it works
        if (($('#spmodel').val()) == "false") {
            var occ_b_prices = document.getElementById('prices').getElementsByTagName("input");
            for (var i = 0; i < occ_b_prices.length; i += 2) {
                var visitors = $(occ_b_prices[i]).attr('value');
                var pricevalue = $(occ_b_prices[i + 1]).val();
                occupancabasedprices.push(visitors + ":" + pricevalue);
            }
            $('#occupancybased-prices').val(occupancabasedprices);
            console.log($('#occupancybased-prices').val());
        }
    }

</script>
<script>
    var offers = [];



    function GetAttributes() {
        var sel = document.getElementById("attribute-select");
        var text = sel.options[sel.selectedIndex].text;
        var myhtml = '<li class="list-group-item d-flex justify-content-between lh-condensed"  value="'
            + sel.value + '"> <h5 class="my-0 col-md-12">'
            + text
            + '<a href="#"  class="btn btn-error" onclick="attributeRemove(this);"  style="float:right;padding:0;line-height:0;"><i class="fa fa-times"></i></a></h5></li >';
        $("#attributes-container").append(
            myhtml
        );
        offers.push(sel.value);
        //var dataToSend = JSON.stringify(offers);
        $("#added-offers").val(offers);

        RefreshOffersSelectList();
    }

    function RefreshOffersSelectList() {
        $.ajax({
            type: 'GET',
            url: "/Object/GetObjectAttributes",
            contentType: "application/json",
            data: { excludedAttributesId: document.getElementById('added-offers').value },
            dataType: 'json',
            success: function (data) {
                var offersSelectList = $('#attribute-select');
                offersSelectList.empty();
                offersSelectList.append(
                    '<option disabled selected>Izaberite...</option>'
                );

                //console.log(data);//Da vidiš u konzoli
                $.each(data, function (index, model) {
                    offersSelectList.append(
                        $('<option>', {
                            value: model.value
                        }).text(model.text)
                    );
                });
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }

    function attributeRemove(ev) {

        var removedvalue = $(ev).parent().parent().attr('value');
        //console.log(removedvalue);
        const index = offers.indexOf(removedvalue);
        if (index > -1) {
            offers.splice(index, 1);
        }
        $("#added-offers").val(offers);
        $(ev).parent().parent().remove();
        RefreshOffersSelectList();
    }
</script>
<script>
    $("#country-select").change(function () {
        GetCities();
    })
    function GetCities() {
        $.ajax({
            type: 'GET',
            url: "/Object/GetCitiesInCountry",
            contentType: "application/json",
            data: { countryId: document.getElementById('country-select').value },
            dataType: 'json',
            success: function (data) {
                var citySelectList = $('#city-select');
                citySelectList.empty();
                citySelectList.append(
                    '<option disabled selected>Izaberite...</option>'
                );

                // console.log(data);//Da vidiš u konzoli
                $.each(data, function (index, model) {
                    citySelectList.append(
                        $('<option>', {
                            value: model.value
                        }).text(model.text)
                    );
                });
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }
</script>



@*<script src="~/js/datetimepicker.js"></script>*@
@*<script src="~/js/customdatetimepicker.js"></script>*@
@*<script>
        $(document).ready(function () {
            $("#datepicker").datepicker();
            $('.fa-calendar').click(function () {
                $("#datepicker").focus();
            });
        });
    </script>*@
<script src="~/js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTT3_LSN4fZn3vqJRVhQylgR4_53qbb0&callback=initMap"></script>
