@model EditObjectViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
@*<link href="~/css/regst.css" rel="stylesheet" />*@
<link href="~/css/tabs.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/paying-model-style.css" rel="stylesheet" />

<script src="~/js/toast-show.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/gallery.css" rel="stylesheet" />

@{
    ViewData["Title"] = "CreateObject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var mycurrency = "BAM";}
@if (HttpContextAccessor.HttpContext.Request.Cookies["Currency"] != null)
{
    mycurrency = HttpContextAccessor.HttpContext.Request.Cookies["Currency"];
}
<!-- Tabs -->
   <input type="hidden" asp-for="Id" id="objectid"/>
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Osnovno</a>
                            <a class="nav-item nav-link" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-offer" aria-selected="false">Ponuda</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="false">Plaćanje</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Fotografije</a>
                            <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-periods" role="tab" aria-controls="nav-periods" aria-selected="false">Nedostupni periodi</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                        <!--Osnovno-->
                        <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                            <form method="post" asp-action="EditObjectBasic" asp-controller="Object">
                                <input type="hidden" asp-for="Id" />
                                <br />
                                <div class="row bg-white rounded-lg shadow-sm p-5">
                                    @*mapa*@
                                    <div class="col-md-4 order-md-2 mb-4">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Mapa</span>
                                        </h4>
                                        <div id="map" class="mb-3" style="height:300px"></div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="Lat"></label>
                                                <input class="form-control myinput" asp-for="Lat" id="latitude-value" pattern="[0-9]+([\.][0-9]*)?" required>
                                                <span asp-validation-for="Lat" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="Lng"></label>
                                                <div class="input-group">
                                                    <input asp-for="Lng" class="form-control myinput" id="longitude-value" pattern="[0-9]+([\.][0-9]*)?" required>
                                                    <span asp-validation-for="Lng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-1">
                                        <div class="mb-3">
                                            <label asp-for="Name"></label>
                                            <input id="oj" type="text" class="form-control myinput" placeholder="" asp-for="Name" required>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="Surface"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                                <div class="input-group">
                                                    <input type="number" step="0.0000001" min="0" asp-for="Surface" class="form-control" placeholder="">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">m²</span>
                                                    </div>
                                                    <span asp-validation-for="Surface" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="SelectedObjectType"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                                <select class="custom-select d-block w-100" asp-for="SelectedObjectType" asp-items="@Model.ObjectTypes">
                                                    <option disabled selected>Izaberite...</option>
                                                </select>
                                                <span asp-validation-for="SelectedObjectType" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="Address"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                                </div>
                                                <input type="text" asp-for="Address" class="form-control" placeholder="Vuka Karadžića 30" required>
                                                <span asp-validation-for="Address" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="EmailContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input type="email" asp-for="EmailContact" class="form-control mymailvalidation" placeholder="markomarkovic@primjer.com">
                                                <span asp-validation-for="EmailContact" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="PhoneNumberContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <input type="text" asp-for="PhoneNumberContact" class="form-control" placeholder="+38765111111">
                                                <span asp-validation-for="PhoneNumberContact" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="WebContact"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                                </div>
                                                <input type="text" asp-for="WebContact" class="form-control" placeholder="www.markomarkovic.com">
                                                <span asp-validation-for="WebContact" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="SelectedCountry"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                                <select class="custom-select d-block w-100" asp-for="SelectedCountry" asp-items="@Model.Countries" id="country-select">
                                                    <option disabled selected>Izaberite...</option>
                                                </select>
                                                <span asp-validation-for="SelectedCountry" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="SelectedCity"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                                <select class="custom-select d-block w-100" id="city-select" asp-for="SelectedCity" asp-items="@Model.Cities">
                                                    <option disabled selected>Izaberite...</option>
                                                </select>
                                                <span asp-validation-for="SelectedCity" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="Description"></label><span class="text-muted">&nbsp;(Opciono)</span>
                                            <div class="input-group">
                                                <textarea asp-for="Description" class="form-control" placeholder="Vaš opis..."></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <hr class="mb-4">
                                        <div class="col-md-12 m-auto">
                                            <input id="submitButton" class="btn btn-primary btn-lg btn-block" type="submit" value="Sačuvaj">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--./Osnovno-->
                        <!--Ponude-->
                        <div class="tab-pane fade" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">
                            <br />
                            <div class="bg-white rounded-lg shadow-sm p-5">
                                <div class="container">
                                    <br />
                                    <h5 class="mb-3 text-muted">Karakteristike objekta</h5><br />
                                    @*<input asp-for="AddedCountableOffers" id="countable-offers" type="hidden" />*@
                                    <input id="selectlist-cntoffers" type="hidden" />
                                    <ul class="list-group mb-3 m-auto" id="countable-attr-container">
                                        @if (Model.ListOfAddedCntOffers != null)
                                        {
                                            @foreach (var item in Model.ListOfAddedCntOffers)
                                            {
                                                <li class="list-group-item d-flex justify-content-between lh-condensed" id-value="@item.CountableObjAttrId" value="">
                                                    <span class="my-0 col-md-12">
                                                        <div class="row">
                                                            <h5 class="col-md-4">@item.CountableObjAttr.Name</h5>
                                                            <input class="col-md-4 form-control form-control-sm" disabled value="@item.Count">
                                                            <div class="col-md-4">
                                                                <a class="btn btn-error pointer" onclick="removeCntOffer(this);" style="float:right;padding:0;line-height:0;">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <ul class="list-group mb-3 m-auto" id="add-cnt-offer">
                                       
                                    </ul>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <select onchange="GetCntAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" @*asp-for="" *@ asp-items="@Model.CountableOffers" id="cnt-attr-select">
                                            <option disabled selected>Izaberite...</option>
                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <div class="container">
                                    <h5 class="mb-3 text-muted">Usluge uključene u cijenu</h5><br />
                                    <input id="added-offers" type="hidden" />
                                    <ul class="list-group mb-3 m-auto" id="attributes-container">
                                        @if (Model.ListOfAddedOffers != null)
                                        {
                                            @foreach (var item in Model.ListOfAddedOffers)
                                            {
                                                <li class="list-group-item d-flex justify-content-between lh-condensed" value="@item.AttributeId">
                                                    <h5 class="my-0 col-md-12">
                                                        @item.Attribute.Name
                                                        <a atr-id="@item.AttributeId" class="btn btn-error pointer" onclick="attributeRemove(this);" style="float:right;padding:0;line-height:0;"><i class="fa fa-times"></i></a>
                                                    </h5>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <select onchange="GetAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" @*asp-for="" *@ asp-items="@Model.Offers" id="attribute-select">
                                            <option disabled selected>Izaberite...</option>
                                        </select>
                                    </div>
                                </div>

                                <br /><hr />
                                      <div class="container">
                                          <h5 class="mb-3 text-muted">Dodatno naplative ponude</h5><br />
                                          @*<input asp-for="AddedSpecialOffers" id="special-offersvwithval" type="hidden" />*@
                                          <input id="selectlist-specialoffers" type="hidden" />
                                          <ul class="list-group mb-3 m-auto" id="specialoffers-container">
                                              @if (Model.ListOfAddedSpecialOffers != null)
                                              {
                                                  @foreach (var item in Model.ListOfAddedSpecialOffers)
                                                  {
                                                      <li class="list-group-item d-flex justify-content-between lh-condensed" id-value="@item.SpecialOfferId" value="">
                                                          <span class="my-0 col-md-12">
                                                              <div class="row">
                                                                  <h5 class="col-md-4">@item.SpecialOffer.Name</h5>
                                                                  <input class="col-md-4 form-control form-control-sm" disabled value="@item.Price">
                                                                  <div class="form-control-sm input-group-append col-md-1"><span class="input-group-text text-muted">@mycurrency</span></div>
                                                                  <div class="col-md-3">
                                                                      <a class="btn btn-error pointer" onclick="removeSpecialOffer(this);" style="float:right;padding:0;line-height:0;">
                                                                          <i class="fa fa-times"></i>
                                                                      </a>
                                                                  </div>
                                                              </div>
                                                          </span>
                                                      </li>
                                                  }
                                              }
                                          </ul>
                                          <ul class="list-group mb-3 m-auto" id="add-special-offer">

                                          </ul>
                                          <br />
                                          <div class="col-md-12 mb-3">
                                              <select onchange="GetSpecialOffersAttributes()" class="custom-select d-block w-100 col-md-6 m-auto" asp-items="@Model.SpecialOffers" id="specialoffer-select">
                                                  <option disabled selected>Izaberite...</option>
                                              </select>
                                          </div>
                                      </div>
                                @*<a href="#" onclick="fillValues()">hej</a>*@
                            </div>
                        </div>
                        <!--./Ponude-->
                        <!--Plaćanje-->
                        <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                            @{ var standardclass = "active";
                                var occupancyclass = "";
                                var showstandard = "show";
                                var showoccupancy = "";
                                var occupancypayment = "false";}
                            @if (Model.OccupancyPricing)
                            {
                                standardclass = "";
                                occupancyclass = "active";
                                occupancypayment = "true";
                                showoccupancy = "show";
                                showstandard = "";
                            }
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col-lg-7 mx-auto">
                                        <div class="bg-white rounded-lg shadow-sm p-5">
                                            <!-- Naplata tabs -->
                                            <input type="hidden" asp-for="OccupancyPricing" value="@occupancypayment" id="occupancy-model" />
                                            <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                                                <li class="nav-item">
                                                    <a data-toggle="pill" onclick="changeToStandardModel()" href="#nav-tab-standardpm" class="nav-link @standardclass rounded-pill">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;Standardni model&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a data-toggle="pill" onclick="changeToOccupancyBModel()" href="#nav-tab-occupancyb" class="nav-link @occupancyclass rounded-pill">
                                                        Model baziran na broju posjetilaca
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- End -->
                                            <!-- tabs content -->
                                            <div class="tab-content">
                                                <!--Standard model-->
                                                <div id="nav-tab-standardpm" class="tab-pane fade @showstandard @standardclass">
                                                        <form method="post" asp-action="EditStandardModel" asp-controller="Object">
                                                            <input type="hidden" asp-for="Id" />
                                                            <input type="hidden" asp-for="StandardPricingModel.Id" />
                                                            <div class="row">
                                                                <div class="col-md-6 form-group">
                                                                    <label asp-for="StandardPricingModel.StandardOccupancy"></label>
                                                                    <input type="number" asp-for="StandardPricingModel.StandardOccupancy" min="0" class="form-control standardvalidation">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <label asp-for="StandardPricingModel.StandardPricePerNight"></label>
                                                                    <div class="input-group">
                                                                        <input type="number" step="0.000001" asp-for="StandardPricingModel.StandardPricePerNight" class="form-control standardvalidation">
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text text-muted">
                                                                                @mycurrency
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    <label asp-for="StandardPricingModel.MinOccupancy"></label>
                                                                    <div class="input-group">
                                                                        <input type="number" asp-for="StandardPricingModel.MinOccupancy" class="form-control standardvalidation">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label asp-for="StandardPricingModel.MaxOccupancy"></label>
                                                                    <div class="input-group">
                                                                        <input type="number" asp-for="StandardPricingModel.MaxOccupancy" class="form-control standardvalidation">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label asp-for="StandardPricingModel.OffsetPercentage"></label>
                                                                    <input type="number" step="0.0000000001" min="0" max="100" class="form-control standardvalidation" asp-for="StandardPricingModel.OffsetPercentage">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 form-group">
                                                                    <label asp-for="StandardPricingModel.MinDaysOffer">Minimalan broj dana boravka<span class="text-muted">&nbsp;(Opciono)</span></label>
                                                                    <input type="number" asp-for="StandardPricingModel.MinDaysOffer" min="1" class="form-control">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <label asp-for="StandardPricingModel.MaxDaysOffer">Maksimalan broj dana boravka<span class="text-muted">&nbsp;(Opciono)</span></label>
                                                                    <input asp-for="StandardPricingModel.MaxDaysOffer" class="form-control" type="number" min="1">
                                                                </div>
                                                            </div>
                                                            <br /><hr />
                                                            <div class="col-md-12 m-auto">
                                                                <input id="submitButton" class="btn btn-primary btn-lg btn-block" type="submit" value="Sačuvaj">
                                                            </div>
                                                        </form>
                                                </div>
                                                    <!-- End -->
                                                    <!-- occupancy based model -->               
                                                <div id="nav-tab-occupancyb" class="tab-pane fade @showoccupancy @occupancyclass">
                                                    <form method="post" asp-action="EditOccupancyBased" asp-controller="Object">
                                                        <input type="hidden" asp-for="Id" />
                                                        <input type="hidden" asp-for="OccupancyBasedPricing.Id" />
                                                        <div class="row">
                                                            <div class="col-md-6 form-group">
                                                                <label asp-for="OccupancyBasedPricing.MinDaysOffer">Minimalan broj dana boravka<span class="text-muted">&nbsp;(Opciono)</span></label>
                                                                <input type="number" asp-for="OccupancyBasedPricing.MinDaysOffer" min="1" class="form-control">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label asp-for="OccupancyBasedPricing.MaxDaysOffer">Maksimalan broj dana boravka<span class="text-muted">&nbsp;(Opciono)</span></label>
                                                                <input asp-for="OccupancyBasedPricing.MaxDaysOffer" class="form-control" type="number" min="1">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label asp-for="OccupancyBasedPricing.MinOccupancy"></label>
                                                                <div class="input-group">
                                                                    <input id="min-occ-ob" type="number" asp-for="OccupancyBasedPricing.MinOccupancy" oninput="emptyPrices()" class="form-control occupancyvalidation">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label asp-for="OccupancyBasedPricing.MaxOccupancy"></label>
                                                                <div class="input-group">
                                                                    <input id="max-occ-ob" type="number" asp-for="OccupancyBasedPricing.MaxOccupancy" oninput="emptyPrices()" class="form-control myinput occupancyvalidation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" onclick="formPrices()"> Formiraj cijene  </button>
                                                        <hr />
                                                        <input type="hidden" asp-for="OccubancBasedPrices" id="occupancybased-prices" />
                                                        <div id="prices">
                                                            @if (Model.OccupancyBasedPricing != null)
                                                            {
                                                                <label><span class="hidden-xs">Broj posjetilaca</span></label>
                                                                @foreach (var item in Model.OccupancyBasedPricing.Prices)
                                                                {
                                                                    <div class="form-group">
                                                                        <div class="input-group row">
                                                                            <input class="form-control" value="@item.Occupancy" disabled>
                                                                            <input type="number" step="0.000001" value="@item.PricePerNight" placeholder="Unesite cijenu" name="" class="form-control myinput" required="">
                                                                            <div class="input-group-append"><span class="input-group-text text-muted">@mycurrency</span></div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <br /><hr />
                                                        <div class="col-md-12 m-auto">
                                                            <input id="submitButton" class="btn btn-primary btn-lg btn-block" type="submit" value="Sačuvaj">
                                                        </div>
                                                    </form>
                                                </div>
                                                    <!-- End -->
                                            </div>
                                            <!-- End -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--./Plaćanje-->
                        <!--Fotografije-->
                        <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                            <div class="container py-5">
                                <div class="bg-white rounded-lg shadow-sm p-5">
                                    <div class="col-md-12">
                                        <input type="file" class="file" accept="image/*" id="imageBrowes" style="display:none" />

                                        <div class="col-md-4">
                                            <div class="input-group my-3">
                                                <input type="text" class="form-control" disabled placeholder="Učitaj sliku" id="file">
                                                <div class="input-group-append">
                                                    <button type="button" class="browse btn btn-primary">Pretraži...</button>
                                                </div>
                                            </div>
                                            <hr />

                                            <div id="imgPreview" style="display:none;margin-top:15px;">
                                                <div class="card">
                                                    <img class="img-responsive card-img-top" id="targetImg" style="object-fit:contain" />
                                                    <div class="caption">
                                                        <a href="#" onclick="ClearPreview()" class="btn"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                                        <span id="description"></span>
                                                    </div>
                                                    <a href="#" class="btn btn-primary" onclick="Uploadimage()"><i class="fas fa-upload"></i>&nbsp;Učitaj</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>

                                        <div class="gallery" id="gallery">
                                            @if (Model.ImgsSrc != null)
                                            {
                                                @foreach (var item in Model.ImgsSrc)
                                                {
                                                    <div class="mb-3 pics animation all" onmouseover="showTrash(this)" onmouseout="hideTrash(this)">
                                                        <img img-id="@item.Id" class="img-fluid" src="@item.Path" alt="Forografija se ne može učitati">
                                                        <i class="fa fa-trash fa-7x text-dark trach-icon" onclick="deleteImg(this)"></i>
                                                    </div>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--./Fotografije-->
                        <!--Nedostupni periodi-->
                        <div class="tab-pane fade" id="nav-periods" role="tabpanel" aria-labelledby="nav-periods-tab">
                            <div class="container py-5">
                                <div class="bg-white rounded-lg shadow-sm p-5">
                                    @*<input type="hidden" id="unavailable-periods" asp-for="UnavailablePeriodsString" />*@
                                    <div>
                                        <ul id="periods" class="list-group mb-3 m-auto col-md-7">
                                            @if (Model.UnavailablePeriods != null)
                                            {
                                                @foreach (var item in Model.UnavailablePeriods)
                                                {
                                                    <li checkin="@item.From.Year-@item.From.Month-@item.From.Day" checkout="@item.To.Year-@item.To.Month-@item.To.Day" class="list-group-item row no-gutters  d-flex justify-content-between lh-condensed">
                                                        <div class="list-group-item row "><i class="fas fa-sign-out-alt fa-2x"></i>&nbsp;&nbsp;<h4>@item.From.Year-@item.From.Month-@item.From.Day</h4></div>
                                                        <div class="list-group-item row"><i class="fas fa-sign-out-alt fa-2x fa-flip-horizontal"></i>&nbsp;&nbsp;<h4>@item.To.Year-@item.To.Month-@item.To.Day</h4></div>
                                                        <div><a onclick="removePeriod(this)" period-id="@item.Id" class="btn pointer"><i class="fa fa-times"></i></a></div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <br /><hr />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input id="datepicker1" class="datepicker" width="276" />
                                        </div>
                                        <div class="col-md-4">
                                            <input id="datepicker2" class="datepicker" width="276" />
                                        </div>
                                        <button id="period-btn" onclick="AddPeriod()" type="button" disabled class="btn btn-outline-dark">Dodaj period&nbsp;<i class="fas fa-plus"></i></button>
                                    </div>
                                    @*<a href="#" onclick="fillValues()">Filllllll</a>*@
                                </div>
                            </div>
                        </div>
                        <!--./Nedostupni periodi-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->


<!--I ovo govno ne moze ovako možda uopšte ne treba-->
<!--Ovo ovdje ne treba-->
<script type="text/javascript">
    $('#submitButton').click(function () {
        //alert("Molimo vas da ispravno popunite sva obavezna polja.");

        //dont know????
        $('input:invalid').each(function () {
            alert('Molimo vas da ispravno popunite sva obavezna polja.');
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            console.log($closest);

            //var id = $closest.attr('id');
            //console.log($closest);
            //console.log(id);
            //// Find the link that corresponds to the pane and have it show
            //$('.nav a[href="#' + id + '"]').tab('show');

            // Only want to do it once
            return false;
        });
    });
</script>


<script src="~/js/Navbarcolor.js"></script>

@*ovo je za one roza tabove*@
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script src="~/js/editgallery.js"></script>
<script src="~/js/editattributesscript.js"></script>
<script src="~/js/ClienSideInputValidation.js"></script>
<script src="~/js/editdatepicker.js"></script>
<script src="~/js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTT3_LSN4fZn3vqJRVhQylgR4_53qbb0&callback=initMap"></script>


