
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject TuristRegistar.Data.IUser MyService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TuristRegistar</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    </environment>
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/css/sitestyles.css" rel="stylesheet" />
    <script src="~/js/toast-show.js"></script>
</head>
<body>
    <partial name="~/Views/Shared/_Notifications.cshtml" />

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="~/"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/">
                        Početna
                        <span class="sr-only">(current)</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/createobject">Dodaj ponudu</a>
                </li>

                <li class="nav-item dropdown">
                    <span id="currency-container">
                        <span id="currency-container1">
                            @{ var mycurrency = "BAM";}
                            @if (HttpContextAccessor.HttpContext.Request.Cookies["Currency"] != null)
                            {
                                mycurrency = HttpContextAccessor.HttpContext.Request.Cookies["Currency"];
                            }
                            <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-money-bill"></i>&nbsp;&nbsp;
                                <span id="mycurrency">@mycurrency</span>
                            </a>
                            <div id="my-curr" class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                @{var currencies = MyService.GetCurrencies();}
                                @foreach (var item in currencies)
                                {
                                    @if (item.Key != mycurrency)
                                    {
                                        <a href="#" onclick="setCurrencyCookie('@item.Key')" class="dropdown-item">@item.Key</a>
                                    }

                                }
                            </div>
                        </span>
                    </span>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/objectlist"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>

            </ul>
            <!-- Links -->

            @if (SignInManager.IsSignedIn(User))
            {

                var user = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
                var roles = await UserManager.GetRolesAsync(user);

                @if (roles.Contains("ADMIN"))
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Administracija</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2" style="right:5%;left:auto">
                            <a asp-controller="Administration" asp-action="UsersList" class="dropdown-item">Korisnici</a>
                            <a asp-controller="Administration" asp-action="Parameters" class="dropdown-item">Parametri</a>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                }
            }

            @if (SignInManager.IsSignedIn(User))
            {
                    <div class="nav-item" id="not-div">
                        @{
                            var notif = "false";
                            var textstyle = "text-white";
                            var spandisplay = "none";
                        }

                        @if (HttpContextAccessor.HttpContext.Request.Cookies["Notification"] != null)
                        {
                            notif = HttpContextAccessor.HttpContext.Request.Cookies["Notification"];
                        }

                        @if (notif == "True")
                        {
                            textstyle = "text-danger";
                            spandisplay = "";
                        }
                        <span id="message-number" class="text-danger" style="display:@spandisplay; position:relative; top:-9px; right:-25px;font-family:'Segoe UI'; font-weight:900; ">!</span>
                        <a asp-controller="Home" asp-action="Inbox" data-toggle="tooltip" title="Poruke"><i id="message-logo" class="far fa-comment-alt @textstyle fa-2x"></i></a>
                    </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-2x text-white"></i></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="right:5%;left:auto">
                        <a asp-controller="Auth" asp-action="UserAccount" class="dropdown-item">Moj nalog</a>
                        <a asp-controller="Auth" asp-action="Settings" class="dropdown-item">Podešavanja&nbsp;&nbsp;<i class="fas fa-user-cog pull-right"></i></a>
                        <a asp-controller="Auth" asp-action="Signout" class="dropdown-item">Odjava&nbsp;&nbsp;<i class="fas fa-sign-out-alt pull-right"></i></a>
                    </div>
                </div>
                <span>&nbsp;</span>

            }
            else
            {
                <a asp-controller="Auth" asp-action="Login" data-toggle="tooltip" title="Prijava"> <i class="fas fa-user-circle fa-2x text-white"></i></a>
            }
            @*</div>*@
        </div>
            <!-- Collapsible content -->

        </nav>
    <!--/.Navbar-->
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TuristRegistar</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@

    @*<partial name="_CookieConsentPartial" />*@


    <div class=" body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - TuristRegistar</p>
        </footer>
    </div>

   
    <environment include="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
<script>
    $(document).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll < 300) {
            $('.fixed-top').css('background', 'transparent');
        } else {
            $('.fixed-top').css('background', 'rgba(15,29,95, 1)');
        }
    });

</script>
<script>
    function setCurrencyCookie(value) {
        var date = new Date();
        date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toUTCString();

        document.cookie = "Currency" + "=" + (value || "") + expires + "; path=/";
        location.reload();
    }
    function setNotificationCookie(value) {
        var date = new Date();
        date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toUTCString();

        document.cookie = "Notification" + "=" + (value || "") + expires + "; path=/";
        location.reload();
    }
</script>


<script>
    $(document).ready(function () {
        $('.toast').toast('show');
        CheckForNotification();
    });

    function CheckForNotification() {
        if (getCookie("Notification") === "True") {
            document.getElementById('message-logo').classList.add('text-danger');
            document.getElementById('message-number').style.display = "inline";
        }
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>