@model UserObjectsModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
@*<link href="~/css/regst.css" rel="stylesheet" />*@
<link href="~/css/site.css" rel="stylesheet" />

<script src="~/js/toast-show.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/gallery.css" rel="stylesheet" />
<link href="~/css/sitestyles.css" rel="stylesheet" />
<link href="~/css/checkbox.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var mycurrency = "BAM";}
@if (HttpContextAccessor.HttpContext.Request.Cookies["Currency"] != null)
{
    mycurrency = HttpContextAccessor.HttpContext.Request.Cookies["Currency"];
}
<br />
<form method="get" id="formIndex">


    <input asp-for="@Model.CurrPage" id="CurrPage" type="hidden" />
    <input asp-for="@Model.IdentUserId" id="ident-user-id" type="hidden" />
<div id="obj-container">
    <div class="col-sm-12">
        <!--Objects-->
        <div class="container" >
            @if (Model.ObjectsList != null)
{
            @foreach (var item in Model.ObjectsList)
                {
            <br />
            <div class="card">
                <div class="card-body pointer">
                    <div class="row">
                        <div class="card-img card-group col-sm-4">
                            <a asp-action="ObjectDetails" asp-controller="Object" asp-route-id="@item.Id">
                                <img src="@item.ImgSrc" alt="Unable to load image" style="max-width:100%" />
                            </a>

                        </div>
                        <a asp-action="ObjectDetails" asp-controller="Object">

                            <div class="card-title card-group col-sm-8">
                                <div class="col-sm-12">
                                    <h4 class="col-sm-12">
                                        @item.Name
                                        <span class="float-right">
                                            <span class="text-warning"><i class="fas fa-star"></i>&nbsp;@item.Rating</span>
                                            <br />
                                            <span class="text-muted" style="font-size:14px;">broj ocjena: @item.NumberOfRatings</span>
                                        </span>
                                    </h4>
                                    <a href="#" class="text-primary">
                                        <i class="fa fa-map-marker-alt"></i>&nbsp;@item.Location
                                    </a>

                                </div>
                                <div class="col-sm-12">
                                    @item.Description
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        @if (!string.IsNullOrWhiteSpace(item.Type))
                        {
                            <span class="btn-sm bg-danger text-white" style="margin-top:8px!important;">
                                @item.Type
                            </span>
                        }
                        @if (item.IsBookmark)
                        {
                            <i data-toggle="tooltip" title="Ukloni iz zabilješki" class="fas fa-bookmark fa-2x float-right align-text-bottom pointer" onmouseover="changecolor(this)" onmouseout="changecolor(this)" onclick="addRemoveBookmark(this)" obj-id="@item.Id"></i>
                        }
                        else
                        {
                            <i data-toggle="tooltip" title="Sačuvaj" class="far fa-bookmark fa-2x float-right align-text-bottom pointer" onmouseover="changecolor(this)" onmouseout="changecolor(this)" onclick="addRemoveBookmark(this)" obj-id="@item.Id"></i>
                        }
                    </div>

                </div>
            </div>
                }
}



            <!--   <partial name="_ObjectsListed" for="@Model" />-->
        </div>
        <!--./Objects-->
    </div>

    <br />
    <!-- Pager -->
    <div class="offset-sm-3 col-sm-12" id="pager">
        @if (Model.Pager.EndPage > 1)
        {
        <ul class="pagination m-auto">
            @if (Model.Pager.CurrentPage > 1)
            {
            <li class="page-item">
                <a href="#" onclick="goToFirst()" class="page-link">&laquo;</a>
            </li>
            <li class="page-item">
                <a href="#" onclick="goToPrevious()" class="page-link">&lang;</a>
            </li>
            }

            @for (var pagee = Model.Pager.StartPage; pagee <= Model.Pager.EndPage; pagee++)
            {
            <li class="@(pagee == Model.Pager.CurrentPage ? "active-page" : "") hidden-sm hidden-xs page-link">
                <a href="#" onclick="goToPage(@pagee)">@pagee</a>
            </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
            <li class="page-item">
                <a href="#" onclick="goToNext()" class="page-link">&rang;</a>
            </li>
            <li class="page-item">
                <a href="#" onclick="goToLast()" class="page-link">&raquo;</a>
            </li>
            }
        </ul>
    }
</div>
<!--./Pager-->
        </div>

</form>




<script src="~/js/Navbarcolor.js"></script>
<script src="~/js/gallery.js"></script>
<script src="~/js/datepickergijgo.js"></script>
<script src="~/js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTT3_LSN4fZn3vqJRVhQylgR4_53qbb0&callback=initMap"></script>

@*Ovo mora ovdje jer pristupa modelu...*@
<script>
    function resetPager() {
                document.getElementById("CurrPage").value = 0;
    }
    function goToNext() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage+1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToPrevious() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage-1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToFirst() {
        document.getElementById("CurrPage").value = 1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToLast() {
        document.getElementById("CurrPage").value = @Model.Pager.TotalPages;
        ChangePage();

        //document.getElementById("formIndex").submit();
    }
    function goToPage(pagee) {
        document.getElementById("CurrPage").value = pagee;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
</script>
<script>
    //ne radiiiiiiiiiiiiii
    function ChangePage() {
        $.ajax({
            type: 'GET',
            url: "/Auth/UserObjectsChangePage",
            data: $('#formIndex').serialize(),
            dataType: 'html', // modify
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#obj-container').html(response);
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }

    function changecolor(el) {
        if ($(el).hasClass('far')) {
            $(el).removeClass('far');
            $(el).addClass('fas');
        }
        else {
            $(el).removeClass('fas');
            $(el).addClass('far');
        }
    }

    function addRemoveBookmark(el) {
        var data = { 'objectId': $(el).attr('obj-id'), 'identUserId': ($('#ident-user-id')).val() };
        if ($(el).hasClass('far')) {
            $.ajax({
                url: "/Auth/RemoveBookmark",
                data: data,
                type: "POST",
                /// dataType: 'JSON',
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    $(el).removeClass('far');
                    $(el).addClass('fas');
                    //  $('#obj-container').html(response);
                },
                error: function () {
                    alert('Greška prilikom pribavljanja podataka.');
                }
            });
        }

        else {

            $.ajax({
               // type: 'GET',
                url: "/Auth/AddBookmark",
                data: data,
                type: "POST",
               /// dataType: 'JSON',
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    $(el).removeClass('fas');
                    $(el).addClass('far');
                  //  $('#obj-container').html(response);
                },
                error: function () {
                    alert('Greška prilikom pribavljanja podataka.');
                }
            });
        }
    }
</script>
