@model TypesEditModel

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<br />
<br />
<div class="col-mb-3">
    <a href="#typeAddModal" onclick="modalForAddType()" data-toggle="modal" class="trigger-btn btn btn-primary btn-block pointer col-md-6 m-auto">Dodaj tip</a>
</div>
<hr />
<form id="formTypes" asp-action="TypeAction" asp-controller="Administration">
    <div id="countries-container">

        <ul class="list-group mb-3 m-auto">
            @if (Model.AvailableTypes != null)
            {
                @foreach (var item in Model.AvailableTypes)
                {
                    var idAttribute = item.Id + "TYPE";
                    <li id="@idAttribute" class="list-group-item d-flex justify-content-between lh-condensed">
                        <h5 class="my-0 col-md-12">
                            @item.Name
                            <a href="#typeRemoveModal" onclick="sendValuesToTypeRemoveModal(this)" class="trigger-btn btn btn-error pointer" data-toggle="modal" type-id="@item.Id" style="float:right;padding:0;line-height:0;"><i class="fa fa-trash fa-2x"></i></a>
                            <a href="#typeEditModal" onclick="sendValuesToTypeEditModal(this)" class="trigger-btn btn btn-error pointer" data-toggle="modal" type-id="@item.Id" type-name="@item.Name" style="float:right;padding:0;line-height:0;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                        </h5>

                    </li>
                }
            }
        </ul>
    </div>


    <!-- Modal HTML Add Type-->
    <div id="typeAddModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mb-3">
                        <input id="new-type-name" type="text" class="form-control myinput" placeholder="Naziv tipa" asp-for="NewType" required>
                        <span asp-validation-for="NewType" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                    <input type="submit" class="btn btn-success" asp-for="SubmitButton" value="Dodaj" />
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <!-- Modal HTML Edit Type-->
    <div id="typeEditModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mb-3">
                        <input id="edit-type-name" type="text" class="form-control myinput" placeholder="Naziv države" asp-for="EditTypeName" required>
                        <span asp-validation-for="EditTypeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                    <input type="submit" class="btn btn-success" asp-for="SubmitButton" value="Sačuvaj" />
                </div>
            </div>
            <input asp-for="EditTypeId" id="hidden-typeedit-id" hidden />

        </div>
    </div>
    <!-- Modal HTML -->
</form>

<!--Remove Type Modal HTML -->
<div id="typeRemoveModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Upozorenje!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Brisanje ovog tipa uzrokovat će promjene u povezanim ponudama.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button id="dismiss-modal-edit-type" type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                <button type="button" onclick="typeRemove()" class="btn btn-danger">Dalje</button>
            </div>
        </div>
    </div>
    <input id="hidden-type-id" hidden-removeelement-id="" hidden remove-el="" />
</div>
<script>


    function modalForAddType() {
        document.getElementById('new-type-name').required = true;
        document.getElementById('edit-type-name').required = false;
    }
    function sendValuesToTypeEditModal(ev) {
        document.getElementById('new-type-name').required = false;
        document.getElementById('edit-type-name').required = true;

        $("#hidden-typeedit-id").val($(ev).attr('type-id'));
        $("#edit-type-name").val($(ev).attr('type-name'));
    }

    function sendValuesToTypeRemoveModal(ev) {
        $("#hidden-type-id").val($(ev).attr('type-id'));
        var elementId = ($(ev).parent().parent()).attr('id');
        $("#hidden-type-id").attr('hidden-removeelement-id', elementId);

    }
    function typeRemove() {
        var removeelementid = $('#hidden-type-id').attr('hidden-removeelement-id');
        var data = { 'typeId': $('#hidden-type-id').val() };
        $.ajax({
            url: "/Administration/DeleteType",
            data: data,
            type: "POST",
            /// dataType: 'JSON',
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                var id = "#" + removeelementid
                $(id).remove();
                $('#dismiss-modal-edit-type').trigger('click');
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }
</script>