@model AttributesEditModel

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<br />
<br />
<div class="col-mb-3">
    <a href="#attributeAddModal" onclick="modalForAddAttribute()" data-toggle="modal" class="trigger-btn btn btn-primary btn-block pointer col-md-6 m-auto">Dodaj atribut</a>
</div>
<hr />
<form id="formAttributes" asp-action="AttributeAction" asp-controller="Administration">
    <div id="countries-container">

        <ul class="list-group mb-3 m-auto">
            @if (Model.AvailableAttributes != null)
            {
            @foreach (var item in Model.AvailableAttributes)
                {
                    var idAttribute = item.Id + "ATTR";
            <li id="@idAttribute" class="list-group-item d-flex justify-content-between lh-condensed">
                <h5 class="my-0 col-md-12">
                    @item.Name
                    <a href="#attributeRemoveModal" onclick="sendValuesToAttributeRemoveModal(this)" class="trigger-btn btn btn-error pointer" data-toggle="modal" attribute-id="@item.Id" style="float:right;padding:0;line-height:0;"><i class="fa fa-trash fa-2x"></i></a>
                    <a href="#attributeEditModal" onclick="sendValuesToAttributeEditModal(this)" class="trigger-btn btn btn-error pointer" data-toggle="modal" attribute-id="@item.Id" attribute-name="@item.Name" style="float:right;padding:0;line-height:0;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                </h5>

            </li>
                }
            }
        </ul>
    </div>


    <!-- Modal HTML Add attribute-->
    <div id="attributeAddModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mb-3">
                        <input id="new-attribute-name" type="text" class="form-control myinput" placeholder="Naziv atributa" asp-for="NewAttribute" required>
                        <span asp-validation-for="NewAttribute" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                    <input type="submit" class="btn btn-success" asp-for="SubmitButton" value="Dodaj" />
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <!-- Modal HTML Edit attribute-->
    <div id="attributeEditModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mb-3">
                        <input id="edit-attribute-name" type="text" class="form-control myinput" placeholder="Naziv atributa" asp-for="EditAttributeName" required>
                        <span asp-validation-for="EditAttributeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                    <input type="submit" class="btn btn-success" asp-for="SubmitButton" value="Sačuvaj" />
                </div>
            </div>
            <input asp-for="EditAttributeId" id="hidden-attributeedit-id" hidden />

        </div>
    </div>
    <!-- Modal HTML -->
</form>

<!--Remove attribute Modal HTML -->
<div id="attributeRemoveModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Upozorenje!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Brisanje ovog atributa uzrokovat će promjene u povezanim ponudama.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button id="dismiss-modal-attribute" type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                <button type="button" onclick="attributeRemove()" class="btn btn-danger">Dalje</button>
            </div>
        </div>
    </div>
    <input id="hidden-attribute-id" hidden-removeelement-id="" hidden remove-el="" />
</div>
<script>


    function modalForAddAttribute() {
        document.getElementById('new-attribute-name').required = true;
        document.getElementById('edit-attribute-name').required = false;
    }
    function sendValuesToAttributeEditModal(ev) {
        document.getElementById('new-attribute-name').required = false;
        document.getElementById('edit-attribute-name').required = true;

        $("#hidden-attributeedit-id").val($(ev).attr('attribute-id'));
        $("#edit-attribute-name").val($(ev).attr('attribute-name'));
    }

    function sendValuesToAttributeRemoveModal(ev) {
        $("#hidden-attribute-id").val($(ev).attr('attribute-id'));
        var elementId = ($(ev).parent().parent()).attr('id');
        $("#hidden-attribute-id").attr('hidden-removeelement-id', elementId);

    }
    function attributeRemove() {
        var removeelementid = $('#hidden-attribute-id').attr('hidden-removeelement-id');
        var data = { 'attributeId': $('#hidden-attribute-id').val() };
        $.ajax({
            url: "/Administration/DeleteAttribute",
            data: data,
            type: "POST",
            /// dataType: 'JSON',
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                var id = "#" + removeelementid
                $(id).remove();
                $('#dismiss-modal-attribute').trigger('click');
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }
</script>