@model ObjectsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<input asp-for="@Model.IdentUserId" id="ident-user-id" type="hidden" />
@if (Model.ObjectsList != null)
{
    @foreach (var item in Model.ObjectsList)
    {
        <br />
        <div class="card">
            <div class="card-body pointer">
                <div class="row">

                    <div class="card-img card-group col-sm-4">
                        <a asp-action="ObjectDetails" asp-controller="Object" asp-route-id="@item.Id" asp-route-occupancy="@Model.Search.Occupancy" asp-route-checkin="@Model.Search.CheckIn" asp-route-checkout="@Model.Search.CheckOut">
                            <img src="@item.ImgSrc" alt="Unable to load image" style="max-width:100%" />
                        </a>
                    </div>
                    <a asp-action="ObjectDetails" asp-controller="Object" asp-route-id="@item.Id" asp-route-occupancy="@Model.Search.Occupancy" asp-route-checkin="@Model.Search.CheckIn" asp-route-checkout="@Model.Search.CheckOut">

                        <div class="card-title card-group col-sm-8">
                            <div class="col-sm-12">
                                <h4 class="col-sm-12">
                                    @item.Name
                                    <span class="float-right">
                                        <span class="text-warning"><i class="fas fa-star"></i>&nbsp;@item.Rating</span>
                                        <br />
                                        <span class="text-muted" style="font-size:14px;">broj ocjena: @item.NumberOfRatings</span>
                                    </span>
                                </h4>
                                <a asp-action="ObjectDetails" asp-controller="Object" asp-route-id="@item.Id" asp-route-occupancy="@Model.Search.Occupancy" asp-route-checkin="@Model.Search.CheckIn" asp-route-checkout="@Model.Search.CheckOut" class="text-primary">
                                    <i class="fa fa-map-marker-alt"></i>&nbsp;@item.Location
                                </a>

                            </div>
                            <div class="col-sm-12">
                                @item.Description
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <div class="card-body">
                <div class="col-sm-12">
                    @if (!string.IsNullOrWhiteSpace(item.Type))
                    {
                        <span class="btn-sm bg-danger text-white" style="margin-top:8px!important;">
                            @item.Type
                        </span>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (item.IsBookmark)
                        {
                            <i data-toggle="tooltip" title="Ukloni iz zabilješki" class="fas fa-bookmark fa-2x float-right align-text-bottom pointer" onmouseover="changecolor(this)" onmouseout="changecolor(this)" onclick="addRemoveBookmark(this)" obj-id="@item.Id"></i>
                        }
                        else
                        {
                            <i data-toggle="tooltip" title="Sačuvaj" class="far fa-bookmark fa-2x float-right align-text-bottom pointer" onmouseover="changecolor(this)" onmouseout="changecolor(this)" onclick="addRemoveBookmark(this)" obj-id="@item.Id"></i>
                        }
                    }
                </div>

            </div>
        </div>
    }
}


<br />
<!-- Pager -->
<div class="offset-sm-3 col-sm-9" id="pager">
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination m-auto">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a href="#" onclick="goToFirst()" class="page-link">&laquo;</a>
                </li>
                <li class="page-item">
                    <a href="#" onclick="goToPrevious()" class="page-link">&lang;</a>
                </li>
            }

            @for (var pagee = Model.Pager.StartPage; pagee <= Model.Pager.EndPage; pagee++)
            {
                <li class="@(pagee == Model.Pager.CurrentPage ? "active-page" : "") hidden-sm hidden-xs page-link">
                    <a href="#" onclick="goToPage(@pagee)">@pagee</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a href="#" onclick="goToNext()" class="page-link">&rang;</a>
                </li>
                <li class="page-item">
                    <a href="#" onclick="goToLast()" class="page-link">&raquo;</a>
                </li>
            }
        </ul>
    }
</div>

<script>
    function changecolor(el) {
        if ($(el).hasClass('far')) {
            $(el).removeClass('far');
            $(el).addClass('fas');
        }
        else {
            $(el).removeClass('fas');
            $(el).addClass('far');
        }
    }

    function addRemoveBookmark(el) {
        var data = { 'objectId': $(el).attr('obj-id'), 'identUserId': ($('#ident-user-id')).val() };
        if ($(el).hasClass('far')) {
            $.ajax({
                url: "/Auth/RemoveBookmark",
                data: data,
                type: "POST",
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    $(el).removeClass('far');
                    $(el).addClass('fas');
                },
                error: function () {
                    alert('Greška prilikom pribavljanja podataka.');
                }
            });
        }

        else {

            $.ajax({
                url: "/Auth/AddBookmark",
                data: data,
                type: "POST",
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    $(el).removeClass('fas');
                    $(el).addClass('far');
                },
                error: function () {
                    alert('Greška prilikom pribavljanja podataka.');
                }
            });
        }
    }
</script>
