@model ObjectsViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
@*<link href="~/css/regst.css" rel="stylesheet" />*@
<link href="~/css/site.css" rel="stylesheet" />

<script src="~/js/toast-show.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/gallery.css" rel="stylesheet" />
<link href="~/css/sitestyles.css" rel="stylesheet" />
<link href="~/css/checkbox.css" rel="stylesheet" />
@{
    ViewData["Title"] = "ObjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var mycurrency = "BAM";}
@if (HttpContextAccessor.HttpContext.Request.Cookies["Currency"] != null)
{
    mycurrency = HttpContextAccessor.HttpContext.Request.Cookies["Currency"];
}
    <br /><br />
    <form method="get" asp-action="GoToFilteredMap" asp-controller="Home" id="formIndex">
        <div class="container">
            <div class="row">
                <br />
                <!--Search and filters-->
                <div class="col-sm-3">
                    <br />
                    <div class="col-sm-12">
                        @*<a href="#" class="btn btn-primary col-sm-12" data-toggle="modal" data-target="#myModal">Prikaži na mapi</a>*@
                        <a class="btn btn-primary col-sm-12" asp-action="Map" asp-controller="Home" >Prikaži mapu</a>
                    </div>
                    <br />
                    <!--Search-->
                    <div class=" card">
                        <div class="card-header font-weight-bolder">
                            Pretraga
                        </div>
                        <div class="card-body">
                            <div class="card-group">
                                <div class="m-auto">
                                    <input class="form-control" asp-for="Search.SearchString" placeholder="Naziv/Lokacija" id="search-string" />
                                    <span asp-validation-for="Search.SearchString" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="card-group container">
                                <div class="">
                                    <label asp-for="Search.CheckIn"></label>
                                    <input asp-for="Search.CheckInString" onkeydown="return false" id="datepicker1" class="datepicker" width="" />
                                    <span asp-validation-for="Search.CheckInString" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="">
                                    <label asp-for="Search.CheckOut"></label>
                                    <input asp-for="Search.CheckOutString" id="datepicker2" onkeydown="return false" class="datepicker" width="" />
                                    @*<span asp-validation-for="Search.CheckOutString" class="text-danger"></span>*@
                                </div>
                            </div>
                            <hr />
                            <div class="card-group m-auto">
                                <div class="col-sm-12" style="text-align:center;margin-bottom:5px"><label class="m-auto" asp-for="Search.Occupancy"></label></div>
                                <div class="m-auto input-group col-sm-9">
                                    <input asp-for="Search.Occupancy" id="occupancy" class="form-control" type="number" min="1" max="30" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fas fa-users"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card-group m-auto">
                                <div class="col-sm-12" style="text-align:center;margin-bottom:5px"><label class="m-auto" asp-for="Search.PriceBelow"></label></div>
                                <div class="m-auto input-group col-sm-9">
                                    <input asp-for="Search.PriceBelow" id="price-below" class="form-control" type="number" min="1" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            @mycurrency
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card-group m-auto">
                                <div class="col-sm-12" style="text-align:center;margin-bottom:5px"><label class="m-auto" asp-for="Search.RatingAbove"></label></div>
                                <div class="m-auto input-group col-sm-9">
                                    <input asp-for="Search.RatingAbove" class="form-control" type="number" min="1" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="card-group">
                                <a class="pointer btn btn-primary col-sm-12 text-white" onclick="SearchObjects()">Pretraži</a>
                            </div>
                        </div>
                    </div>
                    <!--./Search-->

                    <br />
                    <!--Type-->
                    <div class="card">
                        <div class="card-header font-weight-bolder">
                            Tip objekta
                        </div>
                        <div class="card-body">
                            <div class="card-group">
                                @if (Model.Search != null && Model.Search.ObjectTypes != null)
                                {
                                    @for (int i = 0; i < Model.Search.ObjectTypes.Count(); i++)
                                    {
                                        <div class="chiller_cb col-12">

                                            <label asp-for="Search.ObjectTypes[i].Selected">
                                                <input type="checkbox" onchange="FilterObjects();" asp-for="Search.ObjectTypes[i].Selected" />
                                                <span></span>
                                                @Model.Search.ObjectTypes[i].Name
                                            </label>

                                            <input type="hidden" asp-for="Search.ObjectTypes[i].Id" />
                                            <input type="hidden" asp-for="Search.ObjectTypes[i].Name" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!--./Type-->
                    <br />
                    <!--Attributes-->
                    <div class="card">
                        <div class="card-header font-weight-bolder">
                            Karakteristike
                        </div>
                        <div class="card-body">
                            <div class="card-group">
                                @if (Model.Search != null && Model.Search.ObjectAttributes != null)
                                {
                                    @for (int i = 0; i < Model.Search.ObjectAttributes.Count(); i++)
                                    {
                                        <div class="chiller_cb col-12">

                                            <label asp-for="Search.ObjectAttributes[i].Selected">
                                                <input type="checkbox" onchange="FilterObjects();" asp-for="Search.ObjectAttributes[i].Selected" />
                                                <span></span>
                                                @Model.Search.ObjectAttributes[i].Name
                                            </label>

                                            <input type="hidden" asp-for="Search.ObjectAttributes[i].Id" />
                                            <input type="hidden" asp-for="Search.ObjectAttributes[i].Name" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!--./Attributes-->

                </div>
                <!--./Search and filters-->

                <input asp-for="@Model.CurrPage" id="CurrPage" type="hidden" />

                <div class="col-sm-9">
                    <!--Objects-->
                    <div class="container" id="obj-container">
                        <partial name="_ObjectsListed" for="@Model" />
                    </div>
                    <!--./Objects-->
                </div>

            </div>


            <!--./Pager-->
        </div>

    </form>


<script src="~/js/Navbarcolor.js"></script>
<script src="~/js/gallery.js"></script>
<script src="~/js/datepickergijgo.js"></script>
<script src="~/js/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTT3_LSN4fZn3vqJRVhQylgR4_53qbb0&callback=initMap"></script>

@*Ovo mora ovdje jer pristupa modelu...*@
<script>
    function resetPager() {
                document.getElementById("CurrPage").value = 0;
    }
    function goToNext() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage+1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToPrevious() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage-1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToFirst() {
        document.getElementById("CurrPage").value = 1;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
    function goToLast() {
        document.getElementById("CurrPage").value = @Model.Pager.TotalPages;
        ChangePage();

        //document.getElementById("formIndex").submit();
    }
    function goToPage(pagee) {
        document.getElementById("CurrPage").value = pagee;
        ChangePage();
        //document.getElementById("formIndex").submit();
    }
</script>
<script>
    function FilterObjects() {
        $(this).scrollTop(0);

        $.ajax({
            type: 'GET',
            url: "/Home/FilterObjectList",
            data: $('#formIndex').serialize(),
            dataType: 'html',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#obj-container').html(response);
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }

    function ChangePage() {
        $.ajax({
            type: 'GET',
            url: "/Home/ChangePage",
            data: $('#formIndex').serialize(),
            dataType: 'html', // modify
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#obj-container').html(response);
            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }

    function SearchObjects() {
        if ($('#datepicker2').val() === '' && $('#datepicker1').val() !== '')
            alert('Unesite datum za odlazak!');
        else if ($('#datepicker2').val() !== '' && $('#datepicker1').val() === '')
            alert('Unesite datum za dolazak!');
        else if ($('#price-below').val() !== '' && +($('#price-below').val()) <= 0)
            alert('Unesite ispravnu cijenu!');
        else if ($('#occupancy').val() !== '' && +($('#occupancy').val()) <= 0)
            alert('Unesite ispravan broj osoba!');
        else if (+($('#price-below').val()) > 0 && $('#occupancy').val() === '')
            alert('Unesite broj osoba!');
        else if (+($('#price-below').val()) > 0 && $('#datepicker1').val() === '')
            alert('Unesite datum za dolazak!')
        else if (+($('#price-below').val()) > 0 && $('#datepicker2').val() === '')
            alert('Unesite datum za odlazak!')
        else
            FilterObjects();
    }
</script>